<rewrite>
  <rules>
    <rule name="Imported Rule 1" stopProcessing="true">
      <match url="^modules/([^/]+)(.+)" ignoreCase="false" />
      <conditions>
        <add input="{URL}" pattern="^/budget/modules" ignoreCase="false" />
        <add input="{URL}" pattern="^/budget/modules/([^/]+)/themes(.+)" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="/budget/modules/{R:1}/themes{R:2}" appendQueryString="true" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url="^(.*)" ignoreCase="false" />
      <conditions>
        <!--#RewriteCond   %{HTTP_HOST}  	localhost$-->
        <add input="{URL}" pattern="^/budget/cm/main\.php" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/budget/cm/showfiles\.php" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/budget/themes" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/budget/ffsetup" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/budget/modules/([^/]+)/themes(.+)" ignoreCase="false" negate="true" />
        <!--#ADDED-ATS regole per la gestione dei moduli-->
        <add input="{URL}" pattern="^/budget/moduli/(.*)/theme" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="/budget/cm/main\.php?_ffq_=/{R:0}" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
