#cruscotto_obiettivi #introduzione ol li {	
	margin-top: 6px;
	margin-left: 12px;
	padding-left: 9px;
}

#cruscotto_obiettivi #introduzione ol {		
	padding-left: 3px;
}

.ui-tooltip {
	opacity: 1;
}