/*In questo cdss sono anche presenti gli elementi del modulo obiettivi_individuali
(attivo solamente se attivo modulo obiettivi)
per coerenza fra gli stili degli elementi simili (ad esempio pulsanti di chiusura)*/

/*loader*/
div#loading_page {
    display: none;
}

div#loading_page span {
    font-size: 21px;
    vertical-align: super;
    padding-left: 9px;
    color: #2888E5;
}

/*Obiettivi-cdr*/
.stato_chiusura_obiettivi {
	background-color: #333;	
	border: solid 1px #333;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	padding: 6px 6px 6px 12px;
    height: 33px;
    margin-bottom: 9px;    
}

.stato_chiusura_obiettivi h4{
	margin-top: 0;
    font-weight: 500;
    font-size: 15px;
    color: #2888E5;
}

#obiettivo-cdr .search:not(a) {
    margin-bottom: 0;
}

/*Chiusura obiettivi button*/
#chiusura_obiettivi.chiusura_button,
#chiusura_obiettivi_individuali.chiusura_button,
#riapertura_obiettivi.riapertura_button,
#riapertura_obiettivi_individuali.riapertura_button {
	border: solid 1px #2888E5;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	width: 180px;
	margin: auto;
	text-align: center;	
    background-color: #2888E5;
	color: white;
	float: right;
    margin-left: 10px;
    height: 25 px
}

#chiusura_obiettivi.chiusura_button:hover,
#chiusura_obiettivi_individuali.chiusura_button:hover,
#riapertura_obiettivi.riapertura_button:hover,
#riapertura_obiettivi_individuali.riapertura_button:hover {
	cursor: pointer;
	background-color: #8fbfee;
	color: #2888E5;
}

#chiusura_obiettivi.chiusura_button h4,
#chiusura_obiettivi_individuali.chiusura_button h4,
#riapertura_obiettivi.riapertura_button h4,
#riapertura_obiettivi_individuali.riapertura_button h4 {
    margin: 3px;
}

/*Chiusura obiettivi dialog*/
div#chiusura_obiettivi_confirm_dialog,
div#chiusura_obiettivi_individuali_confirm_dialog,
div#riapertura_obiettivi_confirm_dialog,
div#riapertura_obiettivi_individuali_confirm_dialog {
	padding: 15px;
    width: 500px;
}

#obiettivo-cdr .col-xs-12 .col-md-5 .search {
    width: auto;
}

#obiettivo-cdr .col-xs-12 {
    float: none;
}

#obiettivo-cdr .actions.pull-right {
    display: none;
}

#obiettivo-cdr .ffGrid .search:not(a) {
    clear: left;
}

.ui-dialog.chiusura_obiettivi_confirm_dialog  .ui-dialog-titlebar,
.ui-dialog.riapertura_obiettivi_confirm_dialog  .ui-dialog-titlebar{
	background-color: #2888E5;
	color: white;
}

.ui-dialog.chiusura_obiettivi_confirm_dialog .ui-dialog-buttonpane,
.ui-dialog.riapertura_obiettivi_confirm_dialog .ui-dialog-buttonpane {
    text-align: center;
}

.ui-dialog.chiusura_obiettivi_confirm_dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.ui-dialog.riapertura_obiettivi_confirm_dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-dialog.chiusura_obiettivi_confirm_dialog .ui-dialog-buttonset button,
.ui-dialog.riapertura_obiettivi_confirm_dialog .ui-dialog-buttonset button {
    background-color: #2888E5;
    color: white;     
    width: 200px;
    height: 30px;
    margin: 10px;
    border:none;
}

.ui-dialog.chiusura_obiettivi_confirm_dialog .ui-dialog-buttonset button:hover,
.ui-dialog.riapertura_obiettivi_confirm_dialog .ui-dialog-buttonset button:hover{
    background-color: #c7d4e2;
    color: #2888E5;
}

/*Obiettivi individuali*/
#obiettivi_individuali h2 {
	border-bottom: solid 1px #2888E5;
	width: 100%;
}

/*Rendicontazione obiettivi*/
#rendicontazione_obiettivo h3, #riepilogo_obiettivo h3 {    
    padding: 3px;
    font-size: 18px;
    color: #2888E5;
}

#rendicontazione_obiettivo .form-control.combobox, #riepilogo_obiettivo .form-control.combobox{
    margin-left: 66px;
    margin-top: 3px;
    width: 50%;
    height: 21px;
    line-height: 6px;
}

#rendicontazione_obiettivo ul li, #riepilogo_obiettivo ul li {
    margin-left: 12px;
}

#rendicontazione_obiettivo input[type="radio"], #riepilogo_obiettivo input[type="radio"] {
    width: auto;
    float: left;
    clear: left;
    height: 15px;
    margin-left: 66px;
    margin-right: 6px;
}

#rendicontazione_obiettivo legend.padding, #riepilogo_obiettivo legend.padding {
    width: auto;
    border: solid 1px #c7d4e2;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #2888E5;
    margin-bottom: 12px;
}

#rendicontazione_obiettivo label, #riepilogo_obiettivo label {
    color: black;    
}

#rendicontazione_obiettivo .ui-slider-horizontal, #riepilogo_obiettivo .ui-slider-horizontal {
    border: solid 1px #2888E5;
}

#rendicontazione_obiettivo .ui-slider-horizontal .ui-slider-handle, #riepilogo_obiettivo .ui-slider-horizontal .ui-slider-handle {
    border: solid 1px #2888E5;
    background-color: #c7d4e2;
}

#rendicontazione_obiettivo .ui-slider-horizontal .ui-slider-handle.ui-state-active, #riepilogo_obiettivo .ui-slider-horizontal .ui-slider-handle.ui-state-active {
    background-color: #2888E5;
}

#rendicontazione_obiettivo .nucleo_non_favorevole, #riepilogo_obiettivo .nucleo_non_favorevole{
    color: red;
}

.riepilogo_obiettivo table td {
    border-top: solid 1px #ddd;
    padding: 2px 6px;
    vertical-align: middle;
}

.riepilogo_obiettivo table tr.first-row td {
    border: none;
}

.riepilogo_obiettivo table td.nome-campo {
    text-align: center;
    color: #1976d2;
}

#periodo-rendicontazione-modify {
    margin-top: 12px;
}

#azioni_figli {
    margin-bottom: 9px;    
}

#azioni_figli .cdr_tabs_azioni_figli ul li {
    padding: 0 9px;    
    display: inline-flex;
    width: 49%;
}

#azioni_figli .cdr_tabs_azioni_figli .cdr_tab_content {
    padding: 0 9px 9px 9px;
}