/* Dialog */
#conferma_delete_allegato {
    z-index: 9999;
    padding: 3%;
    background-color: #F0EEE3;
    border: solid 1px #184A1E;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    width: 50%;
    position: fixed !important;
    top: 8%;
    left: 25%;
    color: #184A1E;
    text-align: center;
    display: none;
    font-size: 15px;
}

#conferma_delete_allegato h3 {
    font-weight: bold;
    color: #184A1E;
    margin-bottom: 15px;
}

#conferma_delete_allegato .confirm_link{
    background-color: white;
    border: solid 1px #184A1E;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    padding: 6px;
    font-weight: bold;
    color: #2D8215;
    margin: 9px;
    width: 90px;
    display: inline-block;
}

#conferma_delete_allegato .confirm_link:hover {
    cursor: pointer;
    background-color: #E6FB82;
    border: solid 1px #81bb00;
    text-decoration: none;
}

/* Form input */
#file_input_obj {
    display: inline;
    width: 80%;
}

#allegati-ajax-form {
    border: 1px solid #c7d4e2;
    border-radius: 9px;
}

/*indicatori*/
.fieldset_indicatore .left_indicatore {
    width: 74%;
    float: left;    
}

.fieldset_indicatore .parametri_indicatore{
    border-color: #2888E5; 
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border: solid 1px #2888E5;
    padding: 1%;    
}

.fieldset_indicatore .valori_calcolati_indicatore {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: #2888E5;
    border-radius: 9px;
    width: 25%;
    float:right;
    padding: 1%;
    text-align: center;    
}

.fieldset_indicatore .valori_calcolati_indicatore:hover {
    cursor: default;
}

.fieldset_indicatore .valori_calcolati_indicatore label{
    color: white;    
}

.field_parametro input {
    width: 100%;
    border-color: #2888E5;
}

.field_parametro span{
    background-color: #f2f4f7;
}

.fieldset_indicatore .readonly{
    border: none;
}

.richiesta_revisione.clearfix.padding {
    background-color: #c7d4e2;
    padding: 9px;
    border-color: #2888E5; 
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.nucleo_non_favorevole {
    color: red;
}

.form-control .elenco_parametri ul{
    padding-left: 30px;
}

div.parametri_indicatore div.internal_left_indicatore div {
    float: left;
}

.cogs-storico {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.internal_left_indicatore {
    clear: both;
    width: 100%;
    min-height: 70px;
    position: relative;
}

#rendicontazione-modify .error.bs-callout.bs-callout-danger {
    background-color: #d87f7f;
    border-color: #a04545;
    color: black;
}